<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Article</title>
</head>

<body>
    <h1>Form untuk membuat artikel</h1>
    <form action="/api/article" method="POST">
        <label for="title">title</label>
        <br>
        <input type="text" name="title">
        <br>
        <label for="body">body</label>
        <br>
        <input type="text" name="body">
        <br>

        <button type="submit">Submit</button>
    </form>
</body>

</html>