<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article | All</title>
</head>

<body>
    <% article.forEach(i=> { %>
        <h1>
            <%= i.title %>
        </h1>
        <p>
            <%= i.body %>
        </p>
        <button onclick="window.location.href='/show/articles/<%= i.id %>'">Show</button>
        <button onclick="window.location.href='/edit/articles/<%= i.id %>'">Ubah</button>
        <button onclick="window.location.href='/delete/articles/<%= i.id %>'">Delete</button>

        <% }) %>
</body>

</html>