<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= articles.title %>
    </title>
</head>

<body>
    <h1>
        <%= articles.title %>
    </h1>
    <p>
        <%= articles.body %>
    </p>
</body>

</html>