<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Form</title>
</head>

<body>
    <h1>Form Update artikel dengan nomor <%= articles.id%>
    </h1>
    <h2>Artikel Lama</h2>
    <label for="title">title</label>
    <br>
    <input type="text" name="title" placeholder="<%= articles.title%>">
    <br>
    <label for="body">body</label>
    <br>
    <input type="text" name="body" placeholder="<%= articles.body%>">
    <br>
    <br>

    <h2>Artikel yang akan di update</h2>
    <form action="/update/articles" method="PUT">
        <label for="title">title</label>
        <br>
        <input type="text" name="title">
        <br>
        <label for="body">body</label>
        <br>
        <input type="text" name="body">
        <br>

        <button type="submit">Update</button>
    </form>
</body>

</html>